.deco-icon-empty:before {
  content:"\F15B"
}
.deco-icon-line:before {
  content:"\F13B"
}
.deco-icon-line-solid:before {
  content:"\F13A"
}
.deco-icon-line-dashed:before {
  content:"\F136"
}
.deco-icon-line-dotted:before {
  content:"\F137"
}
.deco-icon-line-no-padding:before {
  content:"\F138"
}
.deco-icon-line-padding:before {
  content:"\F139"
}
.deco-icon-align-left:before {
  content:"\F106"
}









.deco-icon-1-1:before {
  content:"\F101"
}
.deco-icon-16-9:before {
  content:"\F102"
}
.deco-icon-3-2:before {
  content:"\F103"
}
.deco-icon-3-4:before {
  content:"\F104"
}
.deco-icon-align-center:before {
  content:"\F105"
}
.deco-icon-align-right:before {
  content:"\F107"
}
.deco-icon-audio-player:before {
  content:"\F108"
}
.deco-icon-audio-simple:before {
  content:"\F109"
}
.deco-icon-audio-weixin:before {
  content:"\F10A"
}
.deco-icon-avatar-shape1:before {
  content:"\F10B"
}
.deco-icon-avatar-shape2:before {
  content:"\F10C"
}
.deco-icon-big-slide:before {
  content:"\F10D"
}
.deco-icon-big:before {
  content:"\F10E"
}
.deco-icon-btn-number:before {
  content:"\F10F"
}
.deco-icon-btn-percent:before {
  content:"\F110"
}
.deco-icon-carousel:before {
  content:"\F111"
}
.deco-icon-corner-round:before {
  content:"\F112"
}
.deco-icon-corner-straight:before {
  content:"\F113"
}
.deco-icon-coupon-1:before {
  content:"\F114"
}
.deco-icon-coupon-2:before {
  content:"\F115"
}
.deco-icon-coupon-3:before {
  content:"\F116"
}
.deco-icon-coupon-4:before {
  content:"\F117"
}
.deco-icon-cube-custom:before {
  content:"\F118"
}
.deco-icon-cube-upto:before {
  content:"\F119"
}
.deco-icon-cube:before {
  content:"\F11A"
}
.deco-icon-cuberow:before {
  content:"\F11B"
}
.deco-icon-cuberow1:before {
  content:"\F11C"
}
.deco-icon-cuberow2:before {
  content:"\F11D"
}
.deco-icon-cubeto:before {
  content:"\F11E"
}
.deco-icon-cubeto1:before {
  content:"\F11F"
}
.deco-icon-delete:before {
  content:"\F120"
}
.deco-icon-drag-handler:before {
  content:"\F121"
}
.deco-icon-edit:before {
  content:"\F122"
}
.deco-icon-feature:before {
  content:"\F123"
}
.deco-icon-fixed:before {
  content:"\F124"
}
.deco-icon-float:before {
  content:"\F125"
}
.deco-icon-font-bold:before {
  content:"\F126"
}
.deco-icon-font-m:before {
  content:"\F127"
}
.deco-icon-font-regular:before {
  content:"\F128"
}
.deco-icon-font-s:before {
  content:"\F129"
}
.deco-icon-font-x:before {
  content:"\F12A"
}
.deco-icon-hotarea:before {
  content:"\F12B"
}
.deco-icon-huadong:before {
  content:"\F12C"
}
.deco-icon-huanhang:before {
  content:"\F12D"
}
.deco-icon-hybrid:before {
  content:"\F12E"
}
.deco-icon-image-ad-normal:before {
  content:"\F12F"
}
.deco-icon-img-contain:before {
  content:"\F130"
}
.deco-icon-img-cover:before {
  content:"\F131"
}
.deco-icon-indicator-1:before {
  content:"\F132"
}
.deco-icon-indicator-2:before {
  content:"\F133"
}
.deco-icon-indicator-3:before {
  content:"\F134"
}
.deco-icon-indicator-4:before {
  content:"\F135"
}
.deco-icon-list:before {
  content:"\F13C"
}
.deco-icon-menu-fixed:before {
  content:"\F13D"
}
.deco-icon-menu-left:before {
  content:"\F13E"
}
.deco-icon-menu-normal:before {
  content:"\F13F"
}
.deco-icon-menu-top:before {
  content:"\F140"
}
.deco-icon-nav-slide:before {
  content:"\F141"
}
.deco-icon-neirong:before {
  content:"\F142"
}
.deco-icon-progress-1:before {
  content:"\F143"
}
.deco-icon-progress-2:before {
  content:"\F144"
}
.deco-icon-scroll:before {
  content:"\F145"
}
.deco-icon-search-fixed:before {
  content:"\F146"
}
.deco-icon-search-normal:before {
  content:"\F147"
}
.deco-icon-search-round:before {
  content:"\F148"
}
.deco-icon-search-scroll:before {
  content:"\F149"
}
.deco-icon-search-square:before {
  content:"\F14A"
}
.deco-icon-search-sticky:before {
  content:"\F14B"
}
.deco-icon-shadow:before {
  content:"\F14C"
}
.deco-icon-shop-info-1:before {
  content:"\F14D"
}
.deco-icon-shop-info-2:before {
  content:"\F14E"
}
.deco-icon-shop-info-3:before {
  content:"\F14F"
}
.deco-icon-shop-info-4:before {
  content:"\F150"
}
.deco-icon-shop-info-5:before {
  content:"\F151"
}
.deco-icon-small-slide:before {
  content:"\F152"
}
.deco-icon-small:before {
  content:"\F153"
}
.deco-icon-social-fans:before {
  content:"\F154"
}
.deco-icon-swipe:before {
  content:"\F155"
}
.deco-icon-tabs-1:before {
  content:"\F156"
}
.deco-icon-tabs-2:before {
  content:"\F157"
}
.deco-icon-tabs-3:before {
  content:"\F158"
}
.deco-icon-three:before {
  content:"\F159"
}
.deco-icon-up2end:before {
  content:"\F15A"
}

.deco-icon-xianxiake:before {
  content:"\F15C"
}
.deco-icon-zhibo:before {
  content:"\F15D"
}
.deco-icon-zhuanlan:before {
  content:"\F15E"
}
